<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discount</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/panel">Apinor ADMIN</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExample04"
          aria-controls="navbarsExample04"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/panel/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panel/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panel/discount">Discounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/panel/stickers">Stickers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panel/stats">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panel/transactions">Transactions</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

<div class="container mt-5">
  <h3>Stickers List</h3>
  <section class="stickers" style="width: 80%">
    <h1><%= stickerTopText %></h1>
    <div class="sticker-items row" style="justify-content: space-between">
      <% stickerItems.forEach(function(item) { %>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= item.Name %></h5>
            <p class="card-text"><%= item.Description %></p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-warning" onclick="deleteSticker(<%= item.ID %>)">
              Delete Sticker
            </button>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </section>
</div>
    <div class="container mt-5">
      <h2>Create sticker</h2>
      <form id="stickerForm" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="name" class="form-label">Name*</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
          <div class="invalid-feedback">Please provide a sticker name.</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Create Sticker</button>
      </form>

      <div id="responseMessage" class="alert mt-3" style="display: none"></div>
    </div>
    <script src="./stickers/script.js"></script>
  </body>
</html>
